<p>tabla works!</p>
<p-table [value]="rows" [columns]="cols" dataKey="id" class="table-stripped">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of cols">
                <span>{{ rowData[col.field]}}</span>
                <button pButton *ngIf="col.btn" (click)="exec(col.btn, rowData)" label="xd"></button>
            </td>
        </tr>
    </ng-template>
</p-table>